pycocotools==2.0.2
pyyaml==5.1
opencv-python==4.1.2.30
fastapi==0.63.0
pydantic==1.8.1
uvicorn==0.13.4
streamlit==0.82.0
python-multipart==0.0.5
protobuf==3.9.2
gshell==5.5.2
pandas==1.2.5
tqdm==4.61.1
multipledispatch==0.6.0
scikit-learn==0.24.2
matplotlib==3.4.3
funcy==1.16